<div class="container-fluid">
    <p-table [value] = "transactionArr"  [paginator]="true" [rows]="18" [rowHover]="true">
      <ng-template pTemplate="header">
          <tr>
              <th *ngFor="let col of columns" [style.width.%]="col.width"> <!-- specifying the width of columns -->
                {{col.header}}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-drinker>
          <tr style="height:30px"> <!-- [routerLink] = "['/drinkers/',drinker.name]"> -->
              <td *ngFor='let col of columns'>
                {{drinker[col.field]}}
              </td>
          </tr>
      </ng-template>
    </p-table>
  </div>
