<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <textarea class="wideInput" [(ngModel)] = "sqlQuery"></textarea> 
      <textarea readonly class="outputStatus" [(ngModel)] = "message"></textarea>
      <div style="text-align: center;">
        <p-button class="btn" label="Run" (click) = "runClicked()"></p-button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-table [value] = "rows"  [paginator]="true" [rows]="18" [rowHover]="true">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns"> <!-- specifying the width of columns -->
                  {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr style="height:30px"> <!-- [routerLink] = "['/drinkers/',drinker.name]"> -->
                <td *ngFor='let col of columns'>
                  {{row[col.field]}}
                </td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>