<ng-container [ngSwitch] = "formName">

  <form *ngSwitchCase="'bars'" [formGroup]="forms.bars">
    <div class="form-group">
        <label for="barName">Name:</label>
        <input type="text" formControlName = "name" class="form-control" id="barName" placeholder="">
    </div>

    <div class="form-row">

      <div class="form-group col-md-5">
          <label for="barLicense">License:</label>
          <input type="text" formControlName = "license" class="form-control" id="barLicense" placeholder="">
      </div>

      <div class="form-group col-md-5">
          <label for="barPhone">Phone:</label>
          <input type="text" formControlName = "phone" class="form-control" id="barPhone" placeholder="">
      </div>

      <div class="form-group col-md-2">
          <label for="barTax">Tax:</label>
          <input type="text" formControlName = "tax" class="form-control" id="barTax" placeholder="">
      </div>      
    </div>

    <div>
      <h5>Address</h5>

      <div class="form-group">
          <label for="barStreetAddress">Street Address:</label>
          <input type="text" formControlName = "addr" class="form-control" id="barStreetAddress" placeholder="">
      </div>

      <div class="form-row">

        <div class="form-group col-md-6">
            <label for="barCity">City:</label>
            <input type="text" formControlName = "city" class="form-control" id="barCity" placeholder="">
        </div>

        <div class="form-group col-md-4">
            <label for="barState">State:</label><br>
            <p-dropdown [options]="states" formControlName = "state" id="barState">
            </p-dropdown>
        </div>

        <div class="form-group col-md-2">
            <label for="barZip">Zip:</label>
            <input type="text" formControlName = "zip" class="form-control" id="barZip" placeholder="">
        </div>
      </div>

    </div>

  </form>



  <form *ngSwitchCase="'beers'" [formGroup]="forms.beers">
    <div class="form-group">
        <label for="beerName">Name:</label>
        <input type="text" formControlName = "name" class="form-control" id="beerName" placeholder="">
    </div>

    <div class="form-group">
        <label for="beerManf">Manufacturer:</label>
        <input type="text" formControlName = "manf" class="form-control" id="beerManf" placeholder="">
    </div>

  </form>



  <form *ngSwitchCase="'drinkers'" [formGroup]="forms.drinkers">
    <div class="form-group">
        <label for="drinkerName">Name:</label>
        <input type="text" formControlName = "name" class="form-control" id="drinkerName" placeholder="">
    </div>

    <div class="form-group">
        <label for="drinkerPhone">Phone:</label>
        <input type="text" formControlName = "phone" class="form-control" id="drinkerPhone" placeholder="">
    </div>

    <div>
      <h5>Address</h5>

      <div class="form-group">
          <label for="drinkerStreetAddress">Street Address:</label>
          <input type="text" formControlName = "addr" class="form-control" id="drinkerStreetAddress" placeholder="">
      </div>

      <div class="form-row">

        <div class="form-group col-md-6">
            <label for="drinkerCity">City:</label>
            <input type="text" formControlName = "city" class="form-control" id="drinkerCity" placeholder="">
        </div>

        <div class="form-group col-md-4">
            <label for="drinkerState">State:</label><br>
            <p-dropdown [options]="states" formControlName = "state" id="drinkerState">
            </p-dropdown>
        </div>

        <div class="form-group col-md-2">
            <label for="drinkerZip">Zip:</label>
            <input type="text" formControlName = "zip" class="form-control" id="drinkerZip" placeholder="">
        </div>
      </div>
  
    </div>
  </form>



  <form *ngSwitchCase="'foods'" [formGroup]="forms.foods">
    <div class="form-group">
        <label for="foodName">Name:</label>
        <input type="text" formControlName = "name" class="form-control" id="foodName" placeholder="">
    </div>
  </form>

  <form *ngSwitchCase="'frequents'" [formGroup]="forms.frequents">
    <div class="form-group">
        <label for="frequentsDrinker">Drinker:</label>
        <input type="text" formControlName = "drinker" class="form-control" id="frequentsDrinker" placeholder="">
    </div>

    <div class="form-group">
        <label for="frequentsBar">Bar:</label>
        <input type="text" formControlName = "bar" class="form-control" id="frequentsBar" placeholder="">
    </div>

  </form>


  <form *ngSwitchCase="'hours'" [formGroup]="forms.hours">
    <div class="form-group">
        <label for="hoursBar">Bar:</label>
        <input type="text" formControlName = "bar" class="form-control" id="hoursBar" placeholder="">
    </div>

    <div class="form-row">

      <div class="col-md-3">
          <label for="hoursWeekday">Weekday:</label><br>
          <p-dropdown [options]="days" formControlName = "weekday" id="hoursWeekday">
          </p-dropdown>
      </div>

      <div class="form-group col-md-4">
          <label for="hoursOpening">Opening:</label>
          <input type="text" formControlName = "opening" class="form-control" id="hoursOpening" placeholder="">
      </div>

      <div class="form-group col-md-4">
          <label for="hoursClosing">Closing:</label>
          <input type="text" formControlName = "closing" class="form-control" id="hoursClosing" placeholder="">
      </div>
    </div>

  </form>


  <form *ngSwitchCase="'includes'" [formGroup]="forms.includes">
    <div class="form-row">
      <div class="form-group col-6">
          <label for="includesBar">Bar:</label>
          <input type="text" formControlName = "bar" class="form-control" id="includesBar" placeholder="">
      </div>

      <div class="form-group col-6">
          <label for="inclcudesTid">Tid:</label>
          <input type="text" formControlName = "tid" class="form-control" id="inclcudesTid" placeholder="">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-8">
          <label for="includesItem">Item:</label>
          <input type="text" formControlName = "item" class="form-control" id="includesItem" placeholder="">
      </div>

      <div class="form-group col-4">
          <label for="includesQuantity">Quantity:</label>
          <input type="text" formControlName = "quantity" class="form-control" id="includesQuantity" placeholder="">
      </div>
    </div>
  </form>


  <form *ngSwitchCase="'items'" [formGroup]="forms.items">
    <div class="form-row">
      <div class="form-group col-6">
          <label for="itemName">Name:</label>
          <input type="text" formControlName = "name" class="form-control" id="itemName" placeholder="">
      </div>

      <div class="form-group col-2">
          <label for="itemType">Type:</label>
          <input readonly type="text" formControlName = "type" class="form-control" id="itemType" placeholder="">
      </div>
    </div>
  </form>

  <form *ngSwitchCase="'likes'" [formGroup]="forms.likes">
    <div class="form-group">
        <label for="likesDrinker">Drinker:</label>
        <input type="text" formControlName = "drinker" class="form-control" id="likesDrinker" placeholder="">
    </div>

    <div class="form-group">
        <label for="likesItem">Bar:</label>
        <input type="text" formControlName = "item" class="form-control" id="likesItem" placeholder="">
    </div>

  </form>


  <form *ngSwitchCase="'sells'" [formGroup]="forms.sells">
    <div class="form-row">
      <div class="form-group col-4">
          <label for="sellsBar">Bar:</label>
          <input type="text" formControlName = "bar" class="form-control" id="sellsBar" placeholder="">
      </div>
  
      <div class="form-group col-4">
          <label for="sellsItem">Item:</label>
          <input type="text" formControlName = "item" class="form-control" id="sellsItem" placeholder="">
      </div>

      <div class="form-group col-4">
          <label for="sellsPrice">Price:</label>
          <input type="text" formControlName = "item" class="form-control" id="sellsPrice" placeholder="">
      </div>
    </div>
  </form>


  <form *ngSwitchCase="'softdrinks'" [formGroup]="forms.softdrinks">
    <div class="form-group">
        <label for="softDrinkName">Soft Drink:</label>
        <input type="text" formControlName = "name" class="form-control" id="softDrinkName" placeholder="">
    </div>

    <div class="form-group">
      <label for="softDrinkManf">Manufacturer:</label>
      <input type="text" formControlName = "manf" class="form-control" id="softDrinkManf" placeholder="">
    </div>
  </form>


</ng-container>