<div class="container-fluid">
  <div class="row">
    <div class="col" style="padding: 50px; background-color: #BCC6CC;">
        <h1 class="text-center">{{barName}}</h1>
    </div>
    <div id="add" class="col clickable-row" style="padding: 50px; background-color: #20B2AA;" [routerLink] = "['/bars/',barName,'addtransaction']">
        <h1 class="text-center">Add Transaction</h1>
    </div>
  </div>
</div>
<p class="text-center"><b>Top 5 Drinkers who are the Largest Spenders</b></p>
<p-chart type="bar"></p-chart>
<p class="text-center"><b>Top 5 Beers which are Most Popular</b></p>
<p-chart type="bar"></p-chart>
<p class="text-center"><b>Top 5 Manufacturers who sell the Most Beers</b></p>
<p-chart type="bar"></p-chart>
<p class="text-center"><b>Time Distribution of Sales on Average</b></p>
<p-chart type="line"></p-chart>
