<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h3 class="text-center" >Top 5 Beers for {{selectedDrinker}}</h3>
            <p-chart type="bar" [data]="chartData1" [options]="chartOptions"></p-chart>
        </div>
        <div class="col-6">
            <div class = "container">
                <div class = "row">
                    <div class="col">
                        <span>Start date (per day) </span>
                        <br>
                        <p-calendar [(ngModel)]="begin" [showIcon]="true" dateFormat="yy-mm-dd" [minDate] = "minDate" [maxDate] = "maxDate"></p-calendar>
                    </div>
                    <div class = "col">
                        <span>End date</span>
                        <br>
                        <p-calendar [(ngModel)]="end" [showIcon]="true" dateFormat="yy-mm-dd" [minDate] = "minDate" [maxDate] = "maxDate"></p-calendar>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col"></div>
                    <div class = "col">
                        <Button class="btn" type="submit" (click) = "updateGraph()" >Run Query</Button>
                    </div>
                </div>
            </div>
            <h3 class="text-center">Top 5 Bars at which {{selectedDrinker}} spent the most per day</h3>
            <p-chart type="bar" [data]="chartData2" [options]="chartOptions"></p-chart>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>Start date (per week) </p>
            <p-calendar [(ngModel)]="beginWeek" [showIcon]="true" dateFormat="yy-mm-dd" [minDate] = "minDate" [maxDate] = "maxDate"></p-calendar>
            <br>
            <Button class="btn" type="submit" (click) = "updateGraph2()" >Run Query</Button>
            <h3 class="text-center" >Top 5 Bars at which {{selectedDrinker}} spent the most per week</h3>
            <p-chart type="bar" [data]="chartData3" [options]="chartOptions"></p-chart>
        </div>
        <div class="col-6">
            <p>Start date (per month) </p>
            <p-chart type="bar" [data]="chartData4" [options]="chartOptions2"></p-chart>
        </div>
    </div>
</div>