<div class="container-fluid">
<p-table [value] = "beerList"  [paginator]="true" [rows]="18" [rowHover]="true">
  <ng-template pTemplate="header">
      <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-beer>
      <tr style="height:30px" class='clickable-row' [routerLink] = "['/beers/',beer.name]">
          <td *ngFor='let col of columns'>
            {{beer[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>
</div>
